<h1>liste des livres</h1>
<table border = "1">
<tr>
<th>title</th>
<th>category</th>
<th>publication date</th>
<th>published</th>
<th>author</th>
<th>Action</th>
</tr>
{% for b in book %}
<tr>
<td>{{b.title}}</td>
<td>{{b.category}}</td>
<td>{{b.publicationDate | date('M-d-Y')}}</td>
<td>{{b.published}}</td>
<td>{{b.author.username}}</td>
<td></td>
</tr>
{% endfor %}
</table>




